Auto/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62204/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62204/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62204/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFautot" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_TestDatabaseConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:TestDatabaseConnection" />
  </wsdl:message>
  <wsdl:message name="IService1_TestDatabaseConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestDatabaseConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_saveAuto_InputMessage">
    <wsdl:part name="parameters" element="tns:saveAuto" />
  </wsdl:message>
  <wsdl:message name="IService1_saveAuto_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveAutoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAutoMakers_InputMessage">
    <wsdl:part name="parameters" element="tns:getAutoMakers" />
  </wsdl:message>
  <wsdl:message name="IService1_getAutoMakers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAutoMakersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAutonmallits_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAutonmallits" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAutonmallits_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAutonmallitsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetVarits_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVarits" />
  </wsdl:message>
  <wsdl:message name="IService1_GetVarits_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVaritsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPolttoaines_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPolttoaines" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPolttoaines_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPolttoainesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveAuto_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveAuto" />
  </wsdl:message>
  <wsdl:message name="IService1_SaveAuto_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveAutoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_NextCars_InputMessage">
    <wsdl:part name="parameters" element="tns:NextCars" />
  </wsdl:message>
  <wsdl:message name="IService1_NextCars_OutputMessage">
    <wsdl:part name="parameters" element="tns:NextCarsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PreviousCars_InputMessage">
    <wsdl:part name="parameters" element="tns:PreviousCars" />
  </wsdl:message>
  <wsdl:message name="IService1_PreviousCars_OutputMessage">
    <wsdl:part name="parameters" element="tns:PreviousCarsResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="TestDatabaseConnection">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TestDatabaseConnection" message="tns:IService1_TestDatabaseConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TestDatabaseConnectionResponse" message="tns:IService1_TestDatabaseConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveAuto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/saveAuto" message="tns:IService1_saveAuto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/saveAutoResponse" message="tns:IService1_saveAuto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAutoMakers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAutoMakers" message="tns:IService1_getAutoMakers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAutoMakersResponse" message="tns:IService1_getAutoMakers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAutonmallits">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAutonmallits" message="tns:IService1_GetAutonmallits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAutonmallitsResponse" message="tns:IService1_GetAutonmallits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVarits">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetVarits" message="tns:IService1_GetVarits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetVaritsResponse" message="tns:IService1_GetVarits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPolttoaines">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPolttoaines" message="tns:IService1_GetPolttoaines_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPolttoainesResponse" message="tns:IService1_GetPolttoaines_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveAuto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SaveAuto" message="tns:IService1_SaveAuto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SaveAutoResponse" message="tns:IService1_SaveAuto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NextCars">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/NextCars" message="tns:IService1_NextCars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/NextCarsResponse" message="tns:IService1_NextCars_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PreviousCars">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PreviousCars" message="tns:IService1_PreviousCars_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PreviousCarsResponse" message="tns:IService1_PreviousCars_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestDatabaseConnection">
      <soap:operation soapAction="http://tempuri.org/IService1/TestDatabaseConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveAuto">
      <soap:operation soapAction="http://tempuri.org/IService1/saveAuto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAutoMakers">
      <soap:operation soapAction="http://tempuri.org/IService1/getAutoMakers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAutonmallits">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAutonmallits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVarits">
      <soap:operation soapAction="http://tempuri.org/IService1/GetVarits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPolttoaines">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPolttoaines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveAuto">
      <soap:operation soapAction="http://tempuri.org/IService1/SaveAuto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NextCars">
      <soap:operation soapAction="http://tempuri.org/IService1/NextCars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PreviousCars">
      <soap:operation soapAction="http://tempuri.org/IService1/PreviousCars" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:62204/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>