Auto/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62204/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFautot" />
  <xs:element name="TestDatabaseConnection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestDatabaseConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestDatabaseConnectionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveAuto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFautot" minOccurs="0" name="newAuto" nillable="true" type="q1:Auto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="saveAutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="saveAutoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getAutoMakers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAutoMakersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFautot" minOccurs="0" name="getAutoMakersResult" nillable="true" type="q2:ArrayOfAutonmerkki" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutonmallits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="merkkiID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutonmallitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFautot" minOccurs="0" name="GetAutonmallitsResult" nillable="true" type="q3:ArrayOfAutonmallit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVarits">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVaritsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFautot" minOccurs="0" name="GetVaritsResult" nillable="true" type="q4:ArrayOfVarit" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPolttoaines">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPolttoainesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFautot" minOccurs="0" name="GetPolttoainesResult" nillable="true" type="q5:ArrayOfPolttoaine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAuto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFautot" minOccurs="0" name="pirssi" nillable="true" type="q6:Auto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveAutoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NextCars">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NextCarsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFautot" minOccurs="0" name="NextCarsResult" nillable="true" type="q7:Auto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreviousCars">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreviousCarsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFautot" minOccurs="0" name="PreviousCarsResult" nillable="true" type="q8:Auto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>