Auto/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFautot" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFautot" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Auto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutonmalliID" type="xs:int" />
      <xs:element minOccurs="0" name="AutonmerkkiID" type="xs:int" />
      <xs:element minOccurs="0" name="Hinta" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Mittarilukema" type="xs:int" />
      <xs:element minOccurs="0" name="Moottorin_tilavuus" type="xs:decimal" />
      <xs:element minOccurs="0" name="PolttoaineID" type="xs:int" />
      <xs:element minOccurs="0" name="Rekisteri_Paivamaara" type="xs:dateTime" />
      <xs:element minOccurs="0" name="VaritID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Auto" nillable="true" type="tns:Auto" />
  <xs:complexType name="ArrayOfAutonmerkki">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Autonmerkki" nillable="true" type="tns:Autonmerkki" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAutonmerkki" nillable="true" type="tns:ArrayOfAutonmerkki" />
  <xs:complexType name="Autonmerkki">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="merkkinimi" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Autonmerkki" nillable="true" type="tns:Autonmerkki" />
  <xs:complexType name="ArrayOfAutonmallit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Autonmallit" nillable="true" type="tns:Autonmallit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAutonmallit" nillable="true" type="tns:ArrayOfAutonmallit" />
  <xs:complexType name="Autonmallit">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="mallinimi" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="merkkiid" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Autonmallit" nillable="true" type="tns:Autonmallit" />
  <xs:complexType name="ArrayOfVarit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Varit" nillable="true" type="tns:Varit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVarit" nillable="true" type="tns:ArrayOfVarit" />
  <xs:complexType name="Varit">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Varin_nimi" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Varit" nillable="true" type="tns:Varit" />
  <xs:complexType name="ArrayOfPolttoaine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Polttoaine" nillable="true" type="tns:Polttoaine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPolttoaine" nillable="true" type="tns:ArrayOfPolttoaine" />
  <xs:complexType name="Polttoaine">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Polttoaineen_nimi" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Polttoaine" nillable="true" type="tns:Polttoaine" />
</xs:schema>